.box-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
}
.box-wrap .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #fff;
  border-radius: 5px;
}
.box-wrap .box .t {
  position: relative;
  min-height: 30px;
}
.box-wrap .box .t .title {
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.box-wrap .box .t .iconfont {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #999;
  cursor: pointer;
}
.box-wrap .box .t .iconfont:hover {
  color: #f00;
}
.box-wrap .box .c {
  position: relative;
  padding: 10px 20px;
}
.box-wrap .box .b {
  padding: 10px 10px 20px 10px;
  text-align: center;
}
.box-wrap .box .b .btn {
  margin: 0 10px;
  display: block;
  padding: 0 30px;
  height: 30px;
  line-height: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.box-wrap .box .b .btn.btn-ok {
  background: #0fc1af;
  color: #fff;
}
.box-wrap .box .b .btn.btn-cancel {
  border: 1px solid #e1e1e1;
  background: #efefef;
  color: #999;
}
